# Entorno virtual
venv/
.venv/

# Variables de entorno
.env
.env/
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Base de datos
*.db
db.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node
node_modules/

# Firebase
firebase-credentials.json
*firebase*credentials*.json
